@primary-dark: #01579B;
@primary-med: #03A9F4;
@primary-light: #E1F5FE;

@alternate-light: #64FFDA;
@alternate-dark: #00BFA5;

html, body {
	margin: 0;
	padding: 0;
    background-color: @primary-light;
}

.title-card {
    position: fixed;
    width: 100%;
    padding: 25px 30px;

    background-color: @primary-dark;
    color: @primary-light;

	font-size: 18px;
    line-height: 1.5em;
	font-family: "Andale Mono";

    .line {
        line-height: 30px;

        &.indent {
            margin-left: 30px;
        }

        &.strong {
            vertical-align: middle;

            .string {
                font-size: 30px;
                color: @alternate-light;
            }
        }

        .identifier {
            color: @primary-med;
        }

        .string {
            color: @alternate-dark;
            font-size: 20px;
            font-family: Gill Sans;

            & a {
                color: inherit;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .label {
            display: inline-block;
            min-width: 105px;
            color: #E0F7FA;
        }
    }
}
