html,
body {
  margin: 0;
  padding: 0;
  background-color: #E1F5FE;
}
.title-card {
  position: fixed;
  width: 100%;
  padding: 25px 30px;
  background-color: #1A237E;
  color: #E3F2FD;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: "Andale Mono";
}
.title-card .line.indent {
  margin-left: 30px;
}
.title-card .line .identifier {
  color: #64B5F6;
}
.title-card .line .string {
  color: #80CBC4;
  font-size: 1.1em;
}
.title-card .line .string.strong {
  font-size: 1.3em;
}
.title-card .line .label {
  display: inline-block;
  min-width: 105px;
  color: #E0F7FA;
}
