html,
body {
  margin: 0;
  padding: 0;
  background-color: #e1f5fe;
}
.title-card {
  position: fixed;
  width: 100%;
  padding: 25px 30px;
  background-color: #01579b;
  color: #e1f5fe;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Andale Mono";
}
.title-card .line {
  line-height: 30px;
}
.title-card .line.indent {
  margin-left: 30px;
}
.title-card .line.strong {
  vertical-align: middle;
}
.title-card .line.strong .string {
  font-size: 30px;
  color: #64ffda;
}
.title-card .line .identifier {
  color: #03a9f4;
}
.title-card .line .string {
  color: #00bfa5;
  font-size: 20px;
  font-family: Gill Sans;
}
.title-card .line .string a {
  color: inherit;
  text-decoration: none;
}
.title-card .line .string a:hover {
  text-decoration: underline;
}
.title-card .line .label {
  display: inline-block;
  min-width: 105px;
  color: #E0F7FA;
}
