html, body {
	margin: 0;
	padding: 0;
    background-color: #E1F5FE;
}

.title-card {
    position: fixed;
    width: 100%;
    padding: 25px 30px;

    background-color: #1A237E;
    color: #E3F2FD;

	font-size: 1.2em;
    line-height: 1.3em;
	font-family: sans-serif;

    .line {
        &.indent {
            margin-left: 30px;
        }
    }
}
